{{> head}}
{{> navbar}}

<div class="row">

    <div class="col-8">
        <h1>Esto es la tarea</h1>
    </div>

    <div class="col-4">
        <img src="assets/img/kafra.jpg" class="img-thumbnail">
    </div>

</div>

{{> footer}}