{{> head}}
{{> navbar}}

<div class="row">

    <div class="col-8">
        <h1>Pikapi</h1>
        <p>
            Pikapika
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/pic.PNG" class="img-thumbnail">
    </div>

</div>

{{> footer}}